## import numpy and pandas

In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv('vgsales.csv')
df.shape

(16598, 11)

In [15]:
df.describe

<bound method NDFrame.describe of         Rank                                              Name Platform  \
0          1                                        Wii Sports      Wii
1          2                                 Super Mario Bros.      NES
2          3                                    Mario Kart Wii      Wii
3          4                                 Wii Sports Resort      Wii
4          5                          Pokemon Red/Pokemon Blue       GB
...      ...                                               ...      ...
16593  16596                Woody Woodpecker in Crazy Castle 5      GBA
16594  16597                     Men in Black II: Alien Escape       GC
16595  16598  SCORE International Baja 1000: The Official Game      PS2
16596  16599                                        Know How 2       DS
16597  16600                                  Spirits & Spells      GBA

         Year         Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  \
0      2006.0        Sports    Nintendo     41.49     29.02      3.77
1      1985.0      Platform    Nintendo     29.08      3.58      6.81
2      2008.0        Racing    Nintendo     15.85     12.88      3.79
3      2009.0        Sports    Nintendo     15.75     11.01      3.28
4      1996.0  Role-Playing    Nintendo     11.27      8.89     10.22
...       ...           ...         ...       ...       ...       ...
16593  2002.0      Platform       Kemco      0.01      0.00      0.00
16594  2003.0       Shooter  Infogrames      0.01      0.00      0.00
16595  2008.0        Racing  Activision      0.00      0.00      0.00
16596  2010.0        Puzzle    7G//AMES      0.00      0.01      0.00
16597  2003.0      Platform     Wanadoo      0.01      0.00      0.00

       Other_Sales  Global_Sales
0             8.46         82.74
1             0.77         40.24
2             3.31         35.82
3             2.96         33.00
4             1.00         31.37
...            ...           ...
16593         0.00          0.01
16594         0.00          0.01
16595         0.00          0.01
16596         0.00          0.01
16597         0.00          0.01

[16598 rows x 11 columns]>

In [16]:
df.values

array([[1, 'Wii Sports', 'Wii', ..., 3.77, 8.46, 82.74],
       [2, 'Super Mario Bros.', 'NES', ..., 6.81, 0.77, 40.24],
       [3, 'Mario Kart Wii', 'Wii', ..., 3.79, 3.31, 35.82],
       ...,
       [16598, 'SCORE International Baja 1000: The Official Game', 'PS2',
        ..., 0.0, 0.0, 0.01],
       [16599, 'Know How 2', 'DS', ..., 0.0, 0.0, 0.01],
       [16600, 'Spirits & Spells', 'GBA', ..., 0.0, 0.0, 0.01]],
      dtype=object)

In [12]:
print('Hello World');

Hello World

In [13]:
integer = 2
floats = 3.1
string = 'Ayaz Sheikh'
string_list = ['A','B','C','a','b']
number_list = [1,2,3,4,5,6]
number_tuple = (1,2,3,4,5)
string_tuple = ('Ayaz','Sheikh', 'x')
dictionary = {
    'Name':'Ayaz Sheikh',
    'Age': 40
}
print('Data Types')
print('Integer: ' + str(integer))
print('Float: ' + str(floats))
print('String: ' + string)
print(string_list)
print(number_list)

Data Types
Integer: 2
Float: 3.1
String: Ayaz Sheikh
['A', 'B', 'C', 'a', 'b']
[1, 2, 3, 4, 5, 6]

## Data Structures

### Series

<code>Syntax
s = pd.Series(data, index = index) </code>

example:

In [6]:
s = pd.Series(np.random.randn(5),index = ["a","b","c","d","e"])
s

a    0.668170
b    0.037227
c   -1.519078
d    0.737079
e    0.992435
dtype: float64

Series can be instantiated with dictionary, lists or tuples

In [11]:
dicts = {"a":1,"b":2,"c":3,"d":4,"e":5}
lists = [1,2,3,4,5]
tuples = (1,2,3,4,5)

d = pd.Series(dicts)
l = pd.Series(lists)
t = pd.Series(tuples)
print(d)
print(l)
print(t)

a    1
b    2
c    3
d    4
e    5
dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int64

0        41.49
1        29.08
2        15.85
3        15.75
4        11.27
         ...
16593     0.01
16594     0.01
16595     0.00
16596     0.00
16597     0.01
Name: NA_Sales, Length: 16598, dtype: float64